<div class="content-global-step">
  <div class="content-step">
    <div class="content-inner-step">
      <ng-container [ngSwitch]="logo">
        <div *ngSwitchCase="'basic'">
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M8.5 5H6.5C5.96957 5 5.46086 5.21071 5.08579 5.58579C4.71071 5.96086 4.5 6.46957 4.5 7V19C4.5 19.5304 4.71071 20.0391 5.08579 20.4142C5.46086 20.7893 5.96957 21 6.5 21H12.197"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M18.5 12V7C18.5 6.46957 18.2893 5.96086 17.9142 5.58579C17.5391 5.21071 17.0304 5 16.5 5H14.5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M8.5 5C8.5 4.46957 8.71071 3.96086 9.08579 3.58579C9.46086 3.21071 9.96957 3 10.5 3H12.5C13.0304 3 13.5391 3.21071 13.9142 3.58579C14.2893 3.96086 14.5 4.46957 14.5 5C14.5 5.53043 14.2893 6.03914 13.9142 6.41421C13.5391 6.78929 13.0304 7 12.5 7H10.5C9.96957 7 9.46086 6.78929 9.08579 6.41421C8.71071 6.03914 8.5 5.53043 8.5 5Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M8.5 11H12.5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M8.5 15H11.5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M14.5 17.5C14.5 18.163 14.7634 18.7989 15.2322 19.2678C15.7011 19.7366 16.337 20 17 20C17.663 20 18.2989 19.7366 18.7678 19.2678C19.2366 18.7989 19.5 18.163 19.5 17.5C19.5 16.837 19.2366 16.2011 18.7678 15.7322C18.2989 15.2634 17.663 15 17 15C16.337 15 15.7011 15.2634 15.2322 15.7322C14.7634 16.2011 14.5 16.837 14.5 17.5Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              [ngClass]="[
                {
                  'stroke-primary': status === Status.IN_PROGRESS,
                  'stroke-gray-2': status === Status.PENDING
                }
              ]"
              d="M19 19.5L21.5 22"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div *ngSwitchCase="'pass'">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_21_327)">
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M12 17V21"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M10 20L14 18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M10 18L14 20"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M5 17V21"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M3 20L7 18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M3 18L7 20"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M19 17V21"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M17 20L21 18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M17 18L21 20"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M9 6C9 6.79565 9.31607 7.55871 9.87868 8.12132C10.4413 8.68393 11.2044 9 12 9C12.7956 9 13.5587 8.68393 14.1213 8.12132C14.6839 7.55871 15 6.79565 15 6C15 5.20435 14.6839 4.44129 14.1213 3.87868C13.5587 3.31607 12.7956 3 12 3C11.2044 3 10.4413 3.31607 9.87868 3.87868C9.31607 4.44129 9 5.20435 9 6Z"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M7 14C7 13.4696 7.21071 12.9609 7.58579 12.5858C7.96086 12.2107 8.46957 12 9 12H15C15.5304 12 16.0391 12.2107 16.4142 12.5858C16.7893 12.9609 17 13.4696 17 14"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_21_327">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div *ngSwitchCase="'area'">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_21_398)">
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M4 18V13L8 11L12 13V18L8 20L4 18Z"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M8 11V6L12 4L16 6V11"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                [ngClass]="[
                  {
                    'stroke-primary': status === Status.IN_PROGRESS,
                    'stroke-gray-2': status === Status.PENDING
                  }
                ]"
                d="M12.5 13L16.5 11L20.5 13V18L16.5 20L12.5 18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_21_398">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div *ngSwitchCase="'check'">
          <svg
            width="19"
            height="14"
            viewBox="0 0 19 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 7L7 12L17 2"
              stroke="#25D76B"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </ng-container>
    </div>
  </div>
  <p class="text-body-1 font-body text-black-1">
    {{ info }}
  </p>
  <p
    [ngClass]="[
      {
        'text-primary': status === Status.IN_PROGRESS,
        'text-gray-2': status === Status.PENDING,
        'text-success': status === Status.COMPLETED,
        'text-body-4 font-body': true
      }
    ]"
  >
    {{ status }}
  </p>
</div>
