<div
  class="flex flex-col justify-between w-[842px] bg-primary dark:bg-primary-darkMode rounded-xl h-[452px] p-4 content-background"
>
  <div class="flex flex-col gap-7">
    <h3 class="title-h3 text-white-1 dark:text-white-1">
      Busca tu comunidad de interés
    </h3>
    <h4 class="title-h5 text-white-1 dark:text-white-1">
      Entérate de las ultimas novedades que tu comunidad postea, participa de un
      evento o compra tus items favoritos
    </h4>
  </div>
  <div class="flex flex-row justify-end">
    <c-button class="max-w-max" variant="button-accent">
      <c-title variant="title-h6"> Crear comunidad </c-title>
    </c-button>
  </div>
</div>
