<form
  [formGroup]="formLogin"
  (ngSubmit)="onSubmit()"
  class="w-full flex flex-col gap-6 items-center"
>
  <div class="w-full flex flex-col gap-4 my-14">
    <div class="relative">
      <c-label variant="label-base" for="email">
        Email
        <c-input
          variant="input-base"
          type="email"
          placeholder="jhonDoe@example.com"
          formControlName="email"
          name="email"
          id="email"
          [additionalValidators]="
            formUtilities.getValidators(formLogin, 'email')
          "
        />
      </c-label>
    </div>
    <div class="relative">
      <c-label>
        Pasword
        <c-input
          variant="input-base"
          type="password"
          placeholder="*******"
          formControlName="password"
          name="password"
        />
      </c-label>
    </div>
    <a class="underline" routerLink="/auth/recover">
      have you forgotten your password ?
    </a>
  </div>
  <div class="flex relative w-full justify-end">
    <c-button variant="button-base" type="submit" [disabled]="!formLogin.valid">
      <c-title variant="title-h6" color="white">Login</c-title>
    </c-button>
  </div>
</form>
