<section
  class="flex flex-row h-[760px] gap-20 justify-center items-center p-16"
>
  <div class="flex flex-col gap-6 w-[430px]">
    <c-title variant="title-h3" color="black">
      Obtén ingresos para tu comunidad
    </c-title>
    <c-title variant="body-medium" color="black">
      Maximiza el potencial de tu comunidad con múltiples flujos de ingresos.
      Desde suscripciones exclusivas hasta ventas de mercancía y eventos
      especiales, abre las puertas a nuevas oportunidades económicas mientras
      fortaleces el espíritu comunitario.
    </c-title>
    <div class="flex flex-row justify-start w-full">
      <c-button variant="button-base">Crear comunidad</c-button>
    </div>
  </div>
  <div class="flex flex-col gap-6 w-[968px]">
    <div
      class="flex flex-col gap-6 w-full rounded-xl h-[214px] background-income-one p-4"
    >
      <c-title variant="title-h4" class="text-white-1">
        Genera ingresos con las suscripciones de tu comunidad
      </c-title>
      <c-title variant="body-medium" class="text-white-1">
        Monetiza tu pasión creando una comunidad de suscripción. Ofrece
        contenido exclusivo y construye un flujo de ingresos sostenible.
      </c-title>
    </div>
    <div class="flex flex-row gap-6">
      <div
        class="flex flex-col gap-6 flex-1 rounded-xl h-[214px] background-income-two p-4"
      >
        <c-title variant="title-h4" class="text-white-1">
          Vende objetos exclusivos en la tienda
        </c-title>
        <c-title variant="body-medium" class="text-white-1">
          Convierte tus ideas en productos y abre un nuevo canal de ingresos
          vendiendo mercancía única en nuestra tienda especializada.
        </c-title>
      </div>
      <div
        class="flex flex-col gap-6 flex-1 rounded-xl h-[214px] background-income-three p-4"
      >
        <c-title variant="title-h4" class="text-white-1">
          Genere ingresos con eventos
        </c-title>
        <c-title variant="body-medium" class="text-white-1">
          Organiza eventos que cautiven y capitaliza tu talento. Obtén
          beneficios económicos mientras conectas con tu audiencia.
        </c-title>
      </div>
    </div>
  </div>
</section>
