<svg
  class="hover-global"
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    class="background-icon"
    d="M10 0C18 0 20 2 20 10C20 18 18 20 10 20C2 20 0 18 0 10C0 2 2 0 10 0Z"
  />
  <path
    class="eye-icon"
    d="M18 6.55542C15.8667 8.92609 13.2 10.111 10 10.111C6.8 10.111 4.13333 8.92609 2 6.55542"
    stroke-width="1.18519"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    class="eye-icon"
    d="M2 11.8888L4.22222 8.51099"
    stroke-width="1.18519"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    class="eye-icon"
    d="M18 11.8674L15.7849 8.51099"
    stroke-width="1.18519"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    class="eye-icon"
    d="M7.33337 13.6666L7.77782 10.1111"
    stroke-width="1.18519"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    class="eye-icon"
    d="M12.6667 13.6666L12.2223 10.1111"
    stroke-width="1.18519"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
