<div
  [ngClass]="{
    'content-chip-disabled': disabled,
    'content-chip-hover': hover,
    'with-both-padding': !avatar,
    'with-right-padding': avatar
  }"
  class="content-chip"
>
  <img
    class="image-size"
    *ngIf="avatar"
    src="avatar.png"
    alt="avatar"
    [ngClass]="{ 'disabled-img': disabled }"
  />
  <icon-user *ngIf="icon" [color]="!disabled ? 'primary' : 'white'" />
  <c-title text="body-medium" [color]="!disabled ? 'primary' : 'white'">
    {{ label }}
  </c-title>
  <icon-clear
    *ngIf="close"
    [parentHovered]="isHovered"
    color="gray"
    type="solid"
  />
</div>
