<div *ngIf="control" class="content-input">
  <div class="content-input relative">
    <input
      [ngClass]="{
        input: true,
        'input-base': variant === 'input-base',
        'b-success': isValid() && !isUntouched() && !control!.disabled,
        'b-error': !isValid() && !isUntouched() && !control!.disabled,
        'b-neutral': isUntouched() && !control!.disabled,
        'b-disabled': control!.disabled
      }"
      [placeholder]="placeholder"
      [type]="inputType"
      [attr.value]="value || null"
      [attr.id]="id || null"
      [formControl]="control"
      [disabled]="control!.disabled"
    />
    <button
      *ngIf="type === 'password' && !control!.disabled"
      (click)="togglePasswordVisibility()"
      class="icon-pass"
      [ngClass]="{
        'r-4': !control.value,
        'r-10': control.value !== ''
      }"
    >
      <icon-hidden-pass *ngIf="showPassword" />
      <icon-show-pass *ngIf="!showPassword" />
    </button>
    <button
      *ngIf="control.value !== ''"
      (click)="clearInput()"
      class="clear-button"
    >
      <icon-clear />
    </button>
  </div>
  <c-error-input
    *ngIf="!isValid() && !control!.disabled"
    [formContained]="control"
    [controlName]="name"
  ></c-error-input>
</div>
