.content-input {
  @apply flex flex-col gap-1;
}

.input {
  @apply outline-none rounded-md w-auto px-4 body-medium bg-white-1 dark:bg-black-2;
}

.input::placeholder {
  @apply placeholder:text-gray-2 placeholder:text-body-2 placeholder:font-normal;
}

.input-base {
  @apply focus:placeholder-transparent h-9 border-2 text-black-1 dark:text-white-1 focus:outline-none focus:border-primary dark:focus:border-primary-darkMode transition-all w-auto;
}

.position-relative {
  position: relative;
}

.clear-button,
.icon-pass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clear-button {
  right: 16px;
}

/* Chrome, Safari y Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.b-success {
  @apply border-success dark:border-success-darkMode;
}

.b-error {
  @apply border-error dark:border-error-darkMode;
}

.b-neutral {
  @apply border-black-1 dark:border-black-2;
}

.b-disabled {
  @apply border-gray-2;
}

.r-4 {
  @apply right-4;
}

.r-10 {
  @apply right-10;
}
