<div *ngIf="control" class="content-select-master">
  <select
    [ngClass]="{
      select: true,
      'select-base': variant === 'select-base',
      'b-success': isValid() && !isUntouched() && !control!.disabled,
      'b-error': !isValid() && !isUntouched() && !control!.disabled,
      'b-neutral': isUntouched() && !control!.disabled,
      'b-disabled': control!.disabled
    }"
    [formControl]="control"
    name=""
    [id]="id"
  >
    <option
      [value]="null"
      [disabled]="control.value"
      [selected]="!control.value"
      hidden
      class="select-placeholder"
    >
      {{ placeholder }}
    </option>
    <option
      *ngFor="let option of options"
      [value]="option"
      class="select-options"
    >
      {{ option }}
    </option>
  </select>
  <c-error-input
    *ngIf="!isValid() && !control!.disabled"
    [formContained]="control"
    [controlName]="name"
  ></c-error-input>
</div>
