<form [formGroup]="stepTwoForm" class="w-full flex flex-col gap-6 items-center">
  <div class="flex flex-col gap-6 my-14 w-[400px]">
    <c-label variant="label-base" for="password">
      Password
      <c-input
        variant="input-base"
        type="password"
        placeholder="*******"
        formControlName="password"
        name="password"
        id="password"
      />
    </c-label>
    <c-label variant="label-base" for="passRepeat">
      Repeat password
      <c-input
        variant="input-base"
        type="password"
        placeholder="*******"
        formControlName="passRepeat"
        name="passRepeat"
        id="passRepeat"
      />
    </c-label>
  </div>
</form>
