<nav
  class="flex justify-between w-full items-center bg-white-1 dark:bg-black-1 shadow-neutral-level1 h-[60px] px-4"
>
  <div routerLink="/" class="flex gap-2 flex-row items-center cursor-pointer">
    <icon-comevent />
    <c-title variant="title-h4" color="gradient"> Comevent </c-title>
  </div>

  <ul>
    <li
      routerLink="/"
      class="list-none cursor-pointer title-h6 text-black-1 dark:text-white-1"
    >
      {{ 'nav.titleOne' | translate }}
      <div
        routerLinkActive="h-[4px] rounded-lg bg-secondary"
        [routerLinkActiveOptions]="{ exact: true }"
      ></div>
    </li>
  </ul>

  <div class="flex gap-4">
    <dark-mode />

    <div class="select-lang">
      <div class="selectbox">
        <div
          class="select d-flex justify-content-center align-items-center"
          #select
        >
          <div id="contentSelect" #contentSelect>
            <img
              class="icon-global"
              src="../../../../../../assets/svg/world-icon.svg"
              alt="world icon"
            />
          </div>
        </div>
      </div>

      <!-- opciones -->
      <div class="options" #options>
        <a
          href="#"
          class="option"
          (click)="reciveData($event)"
          *ngFor="let languaje of lang"
        >
          <div
            class="content-option d-flex justify-content-center"
            (click)="selectLang(languaje.languaje)"
          >
            <img
              class="icon-flag-translate"
              src="{{ languaje.img }}"
              alt=" {{ languaje.description }}"
            />
          </div>
        </a>
      </div>
    </div>
    <div class="flex gap-2">
      <c-button class="w-full" variant="button-ghost" routerLink="/auth/login">
        <c-title variant="title-h6">{{ 'nav.buttonOne' | translate }}</c-title>
      </c-button>
      <c-button
        class="w-full"
        variant="button-accent"
        routerLink="/auth/register"
      >
        <c-title variant="title-h6">{{ 'nav.buttonTwo' | translate }}</c-title>
      </c-button>
    </div>
  </div>
</nav>
