.theme-switch:hover {
  @apply border-solid border-2 border-primary;
}

.theme-switch {
  @apply relative cursor-pointer rounded-full h-[38px] w-[38px] flex justify-center items-center overflow-hidden;
  transition: background-color 300ms ease-in-out;
}

.circle {
  @apply relative rounded-full z-[1];
  block-size: 24px; /* Diameter of the sun/moon */
  inline-size: 24px; /* Diameter of the sun/moon */
  transition: background-color 500ms ease-in-out;
}

.inner-circle {
  @apply bg-black-2 rounded-full relative z-[1];
  block-size: 18px; /* Diameter of the inner sun/moon */
  inline-size: 18px; /* Diameter of the inner sun/moon */
  transition: transform 600ms ease-in-out, background-color 600ms ease-in-out;
}

.dot {
  @apply w-0 h-full;
  transition: transform 600ms ease-in-out, opacity 600ms ease-in-out;
  transform: rotate(var(--angle)) translateX(50%);

  /* Pseudo-element for creating the visual appearance of the dots with customizable size */
  &:before {
    content: '';
    @apply absolute w-[2px] h-[4px] bg-black-2 rounded-full z-[1];
    top: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.star {
  @apply absolute inset-0 z-[2] stroke-black-2;
  inline-size: 24px;
  transition: transform 500ms ease-in-out, opacity 100ms ease-in-out;
  transition-delay: 200ms;
  transform: translate((24px, 8px) rotate(-90deg));
}
