<p
  [ngClass]="{
    'style-h1': variant === 'title-h1',
    'style-h2': variant === 'title-h2',
    'style-h3': variant === 'title-h3',
    'style-h4': variant === 'title-h4',
    'style-h5': variant === 'title-h5',
    'style-h6': variant === 'title-h6',
    'style-body-bigger': variant === 'body-bigger',
    'style-body-medium': variant === 'body-medium',
    'style-body-medium-accent': variant === 'body-medium-accent',
    'style-body-small': variant === 'body-small',
    'style-body-smaller': variant === 'body-smaller',
    'color-white': color === 'white',
    'color-black': color === 'black',
    'color-primary': color === 'primary',
    'color-disabled': color === 'disabled',
    none: color === ''
  }"
>
  <ng-content></ng-content>
</p>
