<form [formGroup]="stepOneForm" class="w-full flex flex-col gap-6 items-center">
  <div class="flex flex-col gap-6 my-14 w-[400px]">
    <c-label variant="label-base" for="nick">
      {{ 'register.labelOne' | translate }}
      <c-input
        variant="input-base"
        type="text"
        placeholder="Jhon Doe"
        formControlName="nick"
        name="nick"
        id="nick"
      />
    </c-label>
    <c-label variant="label-base" for="email">
      {{ 'register.labelTwo' | translate }}
      <c-input
        variant="input-base"
        type="email"
        placeholder="jhonDoe@example.com"
        formControlName="email"
        name="email"
        id="email"
      />
    </c-label>

    <div class="flex flex-col gap-4">
      <c-title variant="title-h6" color="black">{{
        'register.titleOne' | translate
      }}</c-title>
      <div class="flex flex-grow gap-6">
        <c-button
          (click)="registerApi.loginWithProvider(AuthProvider.GITHUB)"
          class="flex-1"
          variant="button-ghost"
          type="submit"
          [disabled]="registerUtils.isLoadingProviderGithub()"
          [loading]="registerUtils.isLoadingProviderGithub()"
          colorLoading="disabled"
        >
          <div
            [ngClass]="{
            'gap-2 flex items-center': !registerUtils.isLoadingProviderGithub(),
          }"
          >
            <icon-github *ngIf="!registerUtils.isLoadingProviderGithub()" />
            <c-title variant="title-h6">Github</c-title>
          </div>
        </c-button>
        <c-button
          (click)="registerApi.loginWithProvider(AuthProvider.GOOGLE)"
          class="flex-1"
          variant="button-ghost"
          type="submit"
          [disabled]="registerUtils.isLoadingProviderGoogle()"
          [loading]="registerUtils.isLoadingProviderGoogle()"
          colorLoading="disabled"
        >
          <div
            [ngClass]="{
              'gap-2 flex items-center': !registerUtils.isLoadingProviderGoogle(),
            }"
          >
            <icon-google *ngIf="!registerUtils.isLoadingProviderGoogle()" />
            <c-title variant="title-h6">Google</c-title>
          </div>
        </c-button>
      </div>
    </div>
  </div>
</form>
