<form [formGroup]="stepOneForm" class="w-full flex flex-col gap-6 items-center">
  <div class="flex flex-col gap-6 my-14 w-[400px]">
    <c-label variant="label-base" for="nick">
      Nick
      <c-input
        variant="input-base"
        type="text"
        placeholder="Jhon Doe"
        formControlName="nick"
        name="nick"
        id="nick"
      />
    </c-label>
    <c-label variant="label-base" for="email">
      Email
      <c-input
        variant="input-base"
        type="email"
        placeholder="jhonDoe@example.com"
        formControlName="email"
        name="email"
        id="email"
      />
    </c-label>

    <div class="flex flex-col gap-4">
      <c-title variant="title-h6">Or use your networks</c-title>
      <div class="flex flex-grow gap-6">
        <c-button class="flex-1" variant="button-ghost" type="submit">
          <div class="flex justify-center w-full gap-2 items-center">
            <icon-facebook />
            <c-title variant="title-h6" color="primary">Facebook</c-title>
          </div>
        </c-button>
        <c-button
          (click)="registerApi.loginWithProvider('google')"
          class="flex-1"
          variant="button-ghost"
          type="submit"
          [disabled]="registerUtils.isLoadingProvider()"
          [loading]="registerUtils.isLoadingProvider()"
          colorLoading="disabled"
        >
          <div
            [ngClass]="{
              'gap-2 flex items-center': !registerUtils.isLoadingProvider(),
            }"
          >
            <icon-google *ngIf="!registerUtils.isLoadingProvider()" />
            <c-title variant="title-h6" color="primary">Google</c-title>
          </div>
        </c-button>
      </div>
    </div>
  </div>
</form>
