<form
  [formGroup]="formRecover"
  (ngSubmit)="onRecoverPassword()"
  class="flex flex-col gap-6 items-center h-full justify-center w-[560px]"
>
  <div
    class="flex flex-col bg-white-1 p-4 rounded-xl shadow-neutral-level1 h-auto w-full"
  >
    <c-title variant="title-h4" color="black">Recover password</c-title>
    <div class="py-6">
      <c-label>
        Email
        <c-input
          css="input-primary"
          type="email"
          placeholder="jhonDoe@example.com"
          [formControl]="formUtilities.getControl(formRecover, 'email')"
          name="email"
        />
      </c-label>
    </div>
    <div class="relative w-full">
      <c-button
        [disabled]="!formRecover.value"
        class="w-full"
        css="button-primary"
        color="t-white"
        type="submit"
      >
        <c-title variant="title-h6" color="white">Recover password</c-title>
      </c-button>
    </div>
  </div>
</form>
