<div
  class="flex flex-col justify-between w-full bg-accent-light dark:bg-accent-darkMode rounded-xl h-[452px] p-4 content-background"
>
  <div class="flex flex-col gap-7">
    <h3 class="title-h3 text-primary dark:text-primary-darkMode text-center">
      {{ 'home.section.header.titleTwo' | translate }}
    </h3>
  </div>
  <div class="flex flex-row justify-end">
    <c-button class="max-w-max" variant="button-base">
      <c-title variant="title-h6">
        {{ 'home.section.header.buttonTwo' | translate }}
      </c-title>
    </c-button>
  </div>
</div>
