<section
  [ngClass]="{
    'background-info-step-one': currentStep() === 1,
    'background-info-step-two': currentStep() === 2,
    'background-info-step-three': currentStep() === 3,
    'background-info-step-four': currentStep() === 4,
    'flex flex-col h-[760px] w-full justify-between': true
  }"
>
  <div class="flex flex-col gap-16 items-center w-full mt-10">
    @switch (currentStep()) { @case (1) {
    <h2 class="title-h1 text-white-1">Registrate en Comevent</h2>
    <h5 class="title-h5 text-white-1 w-[662px] text-center">
      Crea tu cuenta en Comevent y accede al mundo de las comunidades y eventos.
      ¡Tu próximo encuentro memorable comienza aquí!
    </h5>
    } @case (2) {
    <h2 class="title-h1 text-white-1">Busca tu comunidad favorita</h2>
    <h5 class="title-h5 text-white-1 w-[662px] text-center">
      Explora comunidades que resuenan contigo y conecta con personas que
      comparten tus pasiones e intereses
    </h5>
    } @case (3) {
    <h2 class="title-h1 text-white-1">Regístrate en un evento</h2>
    <h5 class="title-h5 text-white-1 w-[662px] text-center">
      Elige entre una diversidad de eventos y asegura tu lugar. ¡La aventura y
      el aprendizaje te esperan!
    </h5>
    } @case (4) {
    <h2 class="title-h1 text-white-1">Únete a tu grupo y disfruta</h2>
    <h5 class="title-h5 text-white-1 w-[662px] text-center">
      Forma parte de un grupo que te inspira, participa en actividades
      exclusivas y disfruta cada momento junto a nosotros.
    </h5>
    } }
  </div>

  <div class="flex flex-row h-[150px] background-tab-step">
    @for(step of steps; track step.step) {
    <div
      [ngClass]="{
        'border-secondary dark:border-secondary-darkMode':
          currentStep() === step.step,
        'border-transparent hover:border-secondary':
          currentStep() !== step.step,
        'h-full cursor-pointer border-t-8 flex-1 flex justify-center items-center': true
      }"
      (click)="onStep(step.step)"
    >
      <div class="flex flex-col gap-2 items-center">
        @switch (step.step) { @case (1) {
        <icon-hexagon-number-one [step]="currentStep()" />
        } @case (2) {
        <icon-hexagon-number-two [step]="currentStep()" />
        } @case (3) {
        <icon-hexagon-number-three [step]="currentStep()" />
        } @case (4) {
        <icon-hexagon-number-four [step]="currentStep()" />
        } }
        <h2
          [ngClass]="{ 'text-shadow-step': currentStep() === step.step }"
          class="title-h2 text-white-1"
        >
          {{ step.title }}
        </h2>
      </div>
    </div>
    }
  </div>
</section>
