<div
  class="flex flex-col w-[396px] gap-6 p-4 items-center justify-center bg-white-1 dark:bg-black-1 shadow-neutral-level2 rounded-xl"
>
  <c-title variant="title-h5" color="black"
    >Eventos en los que participas</c-title
  >
  <img src="./assets/svg/img-without-events.svg" alt="img-without-events" />
  <c-title variant="body-medium" color="black" class="text-center"
    >¡Tu próxima aventura te espera! Explora y únete a eventos emocionantes
    ahora.</c-title
  >
  <c-button variant="button-base">
    <c-title variant="title-h6" class="text-white-1">Descubrir eventos</c-title>
  </c-button>
</div>
